{
  "user_tasks": [
    {
      "name": "name",
      "priority": 1,
      "duration": 123,
      "deadline": "30.06.2026 12:00",
      "min_chunk_duration": 25,
      "max_chunk_duration": 50,
      "break_duration": 5
    }
  ],
  "time_blocks": [
    {
      "start": "01.11.2023 14:00",
      "end": "01.11.2023 15:30",
      "daily": true
    }
  ],
  "routines": [
    {
      "name": "",
      "type": "flexible",
      "repeat": "daily",
      "deadline_time": "18:00",
      "duration": 30,
      "priority": 5,
      "break_duration": 5
    },
    {
      "name": "",
      "type": "flexible",
      "repeat": "weekly",
      "weekdays": [5],
      "duration": 90,
      "priority": 3
    }
  ]
}