{
  "user_tasks": [
    {
      "name": "name",
      "priority": 1,
      "duration": 123,
      "deadline": "2026-06-30 12:00",
      "min_chunk_duration": 25,
      "max_chunk_duration": 50,
      "break_duration": 5
    }
  ],
  "time_blocks": [
    {
      "start": "2023-11-01 14:00",
      "end": "2023-11-01 15:30",
      "daily": true
    }
  ]
}